<h1>Listing blogs</h1>

<table>
  <tr>
    <th>Post</th>
    <th>Title</th>
    <th>Slug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render @blogs %>
<% pages_list %>


</table>

<br />

<%= link_to 'New Blog', new_blog_path %>
